.profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile__title {
  margin: 74px 0 123px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__name {
  display: flex;
  justify-content: space-between;
  max-width: 410px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.profile__email {
  display: flex;
  justify-content: space-between;
  max-width: 410px;
  width: 100%;
}

.profile__field {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__field-data {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

.profile__edit {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  transition: 0.5s ease-in-out;
  margin: 220px 0 0 0;
}

.profile__edit:hover {
  color: #3456F3;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.profile__exit {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  margin: 16px 0 70px 0;
  transition: 0.5s ease-in-out;
}

.profile__exit:hover {
  color: #e61437;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}