.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DDDEE3;
  width: 100%;

}

.main__aboutproject {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__techs {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__footer {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


