.footer__content {
  max-width: 1140px;
  width: calc(100% - 70px*2);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer__info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__credentials {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}

.footer__copyright {
  align-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  list-style: none;
  margin: 0;
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  grid-column-gap: 20px;
  align-content: center;
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  transition: 0.5s ease-in-out;
}

.footer__link:hover {
  color: #3456F3;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 890px) {
  .footer__content {
    max-width: 890px;
    width: calc(100% - 30px*2);
  } 
}

@media screen and (max-width: 640px) {
  .footer__content {
    max-width: 640px;
    width: calc(100% - 14px*2);
  } 

  .footer__info {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__credentials {
    display: flex;
    flex-direction: column-reverse;
    color: #A0A0A0
  }

  .footer__links {
    margin-top: 30px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link-container {
    margin-bottom: 12px;
  }
}