.techs__content {
  max-width: 1140px;
  width: calc(100% - 70px*2);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.techs__title {
  grid-area: title;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  border-bottom: 1px #000000 solid;
  margin-top: 110px;
  margin-bottom: 0;
  padding-bottom: 23px;
}

.techs__lead {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 26px;
}

.techs__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  max-width: 460px;
  align-self: center;
}

.techs__7-technologies {
  list-style: none;
  justify-content: center;
  align-content: center;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fit, minmax(90px, auto));
  padding: 0;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 0 100px 0;
}

.techs__technology {
  display: flex;
  width: 90px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #E8E8E8;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 890px) {
  .techs__content {
    max-width: 890px;
    width: calc(100% - 50px*2);
  } 

  .techs__title {
    margin-top: 90px;
  }

  .techs__7-technologies {
    grid-template-columns: repeat(auto-fit, minmax(84px, auto));
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 640px) {
  .techs__content {
    max-width: 640px;
    width: calc(100% - 14px*2);
  } 

  .techs__title {
    font-size: 18px;
    line-height: 22px;
  }

  .techs__lead {
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
  }


  .techs__7-technologies {
    grid-template-columns: repeat(auto-fit, minmax(84px, auto));
    margin: 0 0 90px 0;
  }
}

